@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dynamic-blue: #234BFF;
  --deep-dynamic-blue: #1A38BF;
  --bright-cherry: #FF244C;
  --dark-neutral: #1C2530;
  --medium-neutral: #4A5768;
  --light-neutral: #C9D2E5;
}

body {
  color: var(--dark-neutral);
  background-color: white;
}